<template name="invite">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" >
                <div class="panel panel-login" >
                    <div class="form-header">
                        <div class="col-xs-6">
                            Invite for Team {{teamName}}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col">
                                <form class="inviteForm">
                                    <span>Do you want to accept the invitation from {userName}?</span>
                                    <br/>
                                    <br/>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button name="submit" id="submit"
                                                        class="form-control btn btn-register accept">Accept</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>