.channelInfoBtn{
    display: inline-block;
    margin-left: 50px;
}
.channelInfoFloating{
    background-image: url(img/menuRound_16.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: 11px !important;
    background-position-y: 5px !important;
}